@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  border-radius: 25px;
  padding: 12px 30px;
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
}
.btn-transparent i {
  margin-left: 5px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  border: 1px solid #191919;
  background-color: #191919;
  color: #f4f4f4;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-radius: 25px;
  padding: 12px 30px;
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
}
.btn-yellow i {
  margin-left: 5px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  border: 1px solid #191919;
  background-color: #191919;
  color: #f4f4f4;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  border-radius: 40px;
  padding: 18px 56px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s;
}
.btn-black i {
  padding-left: 5px;
  font-weight: 400;
}
.btn-black:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  border-radius: 40px;
  padding: 18px 56px;
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.section-title {
  margin-top: 120px;
  margin-bottom: 90px;
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 5px;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

header {
  background-color: #F0eFe9;
  padding: 16px;
}
header .container {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr auto auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo contact social" "logo menu menu";
  }
}
header .container .btn-menubars {
  grid-area: bars;
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .btn-menubars {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
  margin-right: 70px;
}
header .container .contactinformation-bar {
  grid-area: contact;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .contactinformation-bar {
    display: flex;
  }
}
header .container .contactinformation-bar .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  transition: 0.2s;
}
header .container .contactinformation-bar .content-box i {
  margin-right: 5px;
  font-size: 1.3em;
  color: #666666;
}
header .container .contactinformation-bar .content-box a {
  text-decoration: none;
  color: #666666;
}
header .container .contactinformation-bar .content-box.last {
  border: none;
}
header .container .contactinformation-bar .content-box:hover {
  transform: scale(1.1);
}
header .container .socialmedia-bar {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  header .container .socialmedia-bar {
    display: flex;
  }
}
header .container .socialmedia-bar .animation a {
  color: #191919;
  font-size: 1.3rem;
  margin: 0 8px;
}
header .container .socialmedia-bar .animation:hover {
  transition: 0.2s;
  transform: scale(1.5);
}
header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  border-top: 1px solid #DAD9D3;
  margin-top: 10px;
  padding-top: 20px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: flex;
  }
}
header .container .menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu nav a.active {
  font-weight: 500;
}
header .container .menu nav a.active::after, header .container .menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #F0eFe9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase img {
    display: block;
  }
}

.sponsor {
  padding-top: 100px;
}
.sponsor .container {
  display: none;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .sponsor .container {
    display: flex;
  }
}

.features {
  padding: 100px;
  border: 1px solid #D1D1D1;
  margin: 70px;
}
.features .container {
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .features .container {
    display: block;
  }
}
.features .container .section-title {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (max-width: 1200px) {
  .features .container .section-title {
    text-align: center;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .features .container .section-title h2 {
    font-size: 40px;
  }
}
.features .container .features-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 30px;
}
.features .container .features-left button {
  margin-top: 20px;
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-radius: 25px;
  padding: 12px 30px;
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
}
.features .container .features-left button:hover {
  border: 1px solid #191919;
  background-color: #191919;
  color: #f4f4f4;
}
.features .container .features-right {
  flex: 1.5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px;
  gap: 75px;
}
@media (max-width: 992px) {
  .features .container .features-right {
    display: block;
  }
}
.features .container .features-right .features-right-child img {
  padding-bottom: 20px;
  fill: red;
}

.about-company {
  padding-bottom: 30px;
}
.about-company .container {
  display: flex;
}
@media (max-width: 1200px) {
  .about-company .container {
    display: block;
    justify-content: center;
  }
}
.about-company .container .ceo-pic {
  display: flex;
  position: relative;
}
@media (max-width: 1200px) {
  .about-company .container .ceo-pic {
    display: flex;
    justify-content: center;
    position: relative;
  }
}
.about-company .container .ceo-pic .founder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: #BEEBFF;
  width: 368px;
  height: 180px;
  position: absolute;
  bottom: 40px;
  left: -40px;
}
@media (max-width: 1200px) {
  .about-company .container .ceo-pic .founder {
    display: flex;
    justify-content: center;
    left: 150px;
  }
}
.about-company .container .ceo-pic .founder h4 {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 700;
}
.about-company .container .ceo-pic .founder h4 span {
  color: red;
  font-size: 16px;
}
.about-company .container .ceo-pic .founder h6 {
  padding-left: 10px;
  display: block;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 400;
}
.about-company .container .section-title {
  margin: 0;
  padding-left: 200px;
  padding-right: 30px;
}
@media (max-width: 1200px) {
  .about-company .container .section-title {
    text-align: center;
    margin-top: 30px;
  }
}
@media (max-width: 1400px) {
  .about-company .container .section-title {
    padding-left: 40px;
  }
}
@media (max-width: 992px) {
  .about-company .container .section-title h2 {
    font-size: 40px;
  }
}
.about-company .container .section-title p {
  padding-bottom: 5px;
}
.about-company .container .section-title h6 {
  padding-top: 40px;
  line-height: 1.8;
  font-weight: 300;
}
.about-company .container .section-title .buttons-flex {
  display: flex;
  margin-top: 100px;
}
.about-company .container .section-title .buttons-flex .buttons .btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  border-radius: 50px;
  padding: 18px 56px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s;
  margin-right: 35px;
}
@media (max-width: 1200px) {
  .about-company .container .section-title .buttons-flex .buttons .btn-black {
    margin-bottom: 20px;
  }
}
.about-company .container .section-title .buttons-flex .buttons .btn-black i {
  padding-left: 5px;
  font-weight: 400;
}
.about-company .container .section-title .buttons-flex .buttons .btn-black:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  border-radius: 40px;
  padding: 18px 56px;
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.about-company .container .section-title .buttons-flex .buttons {
  display: flex;
}
.about-company .container .section-title .buttons-flex .buttons .btn-transparent {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 1px solid #191919;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
}
.about-company .container .section-title .buttons-flex .buttons .btn-transparent i {
  margin-left: 5px;
  font-size: 0.9em;
}
.about-company .container .section-title .buttons-flex .buttons p {
  display: flex;
  color: #191919;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.about-company .container .section-title .buttons-flex .buttons:hover .btn-transparent {
  background-color: #191919;
  color: #ffffff;
}
.about-company .container .section-title .buttons-flex .buttons:hover p {
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer;
}

.service {
  background-color: #F0EFE9;
  padding: 100px;
  position: relative;
}
.service .container .section-title {
  margin: 0;
  padding-right: 500px;
  padding-bottom: 30px;
}
@media (max-width: 1200px) {
  .service .container .section-title {
    text-align: center;
    padding-right: 0px;
  }
}
.service .container .diff-service {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1200px) {
  .service .container .diff-service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .service .container .diff-service {
    display: block;
    width: 75%;
  }
}
.service .container .diff-service .content {
  display: flex;
  flex-direction: column;
  margin: 30px;
  text-align: center;
}
.service .container .diff-service .content hr {
  width: 39px;
  height: 2px;
  background-color: #191919;
}
.service .container .diff-service .content h3 {
  margin-top: 15px;
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: 700;
  text-align: start;
}
.service .container .diff-service .content h6 {
  margin-top: 15px;
  font-weight: 300;
  font-size: 16px;
  color: #5E5E5E;
  text-align: start;
  margin-bottom: 50px;
}
.service .container .diff-service .content .btn-flex {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .service .container .diff-service .content .btn-flex {
    padding-bottom: 20px;
  }
}
.service .container .diff-service .content .btn-flex .btn-transparent {
  width: 60px;
  height: 60px;
  border: 1px solid #191919;
  background-color: #191919;
  color: #f4f4f4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}
.service .container .diff-service .content .btn-flex .btn-transparent i {
  margin: 0;
  font-size: 0.9em;
}
.service .container .diff-service .card1 {
  background-color: #ffffff;
  transition: 0.2s;
  cursor: pointer;
}
.service .container .diff-service .card1:hover {
  background-color: #F9D783;
}
.service .container .diff-service .card1:hover .btn-transparent {
  background-color: #ffffff;
  border: 1px solid #191919;
  color: #191919;
}
.service .container .diff-service .card1:hover .content h3 {
  text-decoration: underline;
}
.service .container .btn-move {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.service img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.choose-us {
  position: relative;
}
.choose-us .container {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}
@media (max-width: 1400px) {
  .choose-us .container {
    display: block;
  }
}
.choose-us .container .section-title {
  margin: 0;
}
.choose-us .container .section-title .strategies {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1400px) {
  .choose-us .container .section-title .strategies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 75px;
  }
}
.choose-us .container .section-title .strategies .strategies-parent {
  display: flex;
  padding-top: 25px;
  align-items: center;
}
.choose-us .container .section-title .strategies .strategies-parent i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #E7E7E7;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  font-size: 20px;
}
.choose-us .container .section-title .strategies .strategies-parent .strategies-child h4 {
  font-family: "DM sans" sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.choose-us .container .section-title .strategies .strategies-parent .strategies-child p {
  font-family: "inter";
  font-size: 16px;
  color: #5E5E5E;
}
.choose-us .background {
  display: flex;
  justify-content: center;
}
.choose-us .background img {
  position: relative;
  bottom: 0px;
  left: 80px;
}
@media (max-width: 1400px) {
  .choose-us .background img {
    left: 0px;
  }
}
.choose-us .background-parent {
  margin-top: 250px;
  background-color: #F0EFE9;
  position: absolute;
  z-index: -1;
  width: 55%;
  height: 425px;
  top: 0;
  right: 0;
}
@media (max-width: 1400px) {
  .choose-us .background-parent {
    width: 100%;
    top: 400px;
    right: 0;
  }
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases .project-parent {
  display: inline-block;
}
.project-and-case .container .project-and-cases .project-parent .project-child h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 20px;
  margin-top: 30px;
}
.project-and-case .container .project-and-cases .project-parent .project-child img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases .project-parent .project-child:hover {
  cursor: pointer;
}
.project-and-case .container .project-and-cases .project-parent .project-child:hover img {
  opacity: 0.6;
  transition: 0.2s ease;
  background-color: #008CBA;
}
.project-and-case .container .project-and-cases .project-parent .project-child:hover h3 {
  text-decoration: underline;
}
.project-and-case .container .project-and-cases .project-parent .link {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-bottom: 30px;
}
.project-and-case .container .project-and-cases .project-parent .link a {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: #191919;
  align-items: center;
  display: inline-block;
}
.project-and-case .container .project-and-cases .project-parent .link a:hover {
  font-weight: 700;
  text-decoration: underline;
}
.project-and-case .container .all-recent {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 90px;
}
.project-and-case .container .all-recent .btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  border-radius: 40px;
  padding: 18px 56px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: 0.2s;
}
.project-and-case .container .all-recent .btn-black i {
  padding-left: 5px;
  font-weight: 400;
}
.project-and-case .container .all-recent .btn-black:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  border-radius: 40px;
  padding: 18px 56px;
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.meet-our-team {
  background-color: #EDCF86;
  padding-bottom: 50px;
  padding-top: 125px;
}
.meet-our-team .container .team-member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}
@media (max-width: 992px) {
  .meet-our-team .container .team-member {
    display: block;
  }
}
.meet-our-team .container .team-member a {
  border: 1px solid #191919;
}
.meet-our-team .container .team-member .section-title {
  margin: 0;
}
.meet-our-team .container .team-member-pic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}
@media (max-width: 992px) {
  .meet-our-team .container .team-member-pic {
    grid-template-columns: 1fr 1fr;
  }
}
.meet-our-team .container .team-member-pic img {
  width: 100%;
  height: auto;
}
.meet-our-team .container .team-member-pic h4 {
  margin-top: 20px;
  font-size: 22px;
  font-family: "DM sans" sans-serif;
  font-weight: 700;
}
.meet-our-team .container .team-member-pic p {
  font-size: 16px;
  font-family: "inter";
  font-weight: 500;
  color: #595039;
  margin-bottom: 50px;
}
.meet-our-team .container .dots-parent {
  display: flex;
  justify-content: center;
}
.meet-our-team .container .dots-parent #dots2 {
  background-color: #191919;
}
.meet-our-team .container .dots-parent .dots {
  height: 10px;
  width: 10px;
  background-color: rgba(25, 25, 25, 0.3058823529);
  border-radius: 50%;
  margin: 10px;
  transition: 0.2s;
}
.meet-our-team .container .dots-parent .dots:hover {
  background-color: #191919;
  transform: scale(1.5);
}

.testimonial {
  background-color: #EDCF86;
  padding-bottom: 125px;
}
.testimonial .container {
  background-color: #ffffff;
  padding: 100px;
}
.testimonial .container .section-title {
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
.testimonial .container .clients {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 992px) {
  .testimonial .container .clients {
    display: block;
  }
}
@media (max-width: 992px) {
  .testimonial .container .clients .clients-parent {
    margin-bottom: 50px;
  }
}
.testimonial .container .clients .clients-parent i {
  color: #F94D1C;
}
.testimonial .container .clients .clients-parent p {
  margin-top: 10px;
  margin-right: 20px;
  line-height: 34px;
  text-align: center;
}
.testimonial .container .clients .clients-parent .client-child {
  display: flex;
  padding-top: 20px;
}
.testimonial .container .clients .clients-parent .client-child .text-child {
  margin-left: 10px;
}
.testimonial .container .clients .clients-parent .client-child .text-child h4 {
  font-family: "DM sans" sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: -8px;
}
.testimonial .container .clients .clients-parent .client-child .text-child p {
  color: #F94D1C;
}
.testimonial .container .all-reviews {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.articlenews .container .articles-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 75px 0;
}
@media (max-width: 992px) {
  .articlenews .container .articles-title {
    display: block;
  }
}
.articlenews .container .articles-title .section-title {
  margin: 0;
  padding: 0;
}
.articlenews .container .articles-title .button .btn-transparent {
  font-weight: 100;
}
.articlenews .container .articles-title .button .btn-transparent i {
  margin-left: 15px;
}
.articlenews .container .article {
  display: flex;
  gap: 20px;
}
@media (max-width: 992px) {
  .articlenews .container .article {
    display: block;
  }
}
.articlenews .container .article .article-section h6 {
  margin-top: 20px;
  font-family: "inter";
  font-size: 16px;
  font-weight: 100;
}
.articlenews .container .article .article-section h3 {
  margin-top: 20px;
  font-size: 22px;
  font-family: "DM sans";
  font-weight: 700;
}
.articlenews .container .article .article-section p {
  margin-top: 20px;
  font-family: "inter";
  font-size: 16px;
  font-weight: 100;
}
.articlenews .container .article .article-section .image-date {
  position: relative;
}
.articlenews .container .article .article-section .image-date img {
  width: 100%;
  height: auto;
}
.articlenews .container .article .article-section .image-date .date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #F9D783;
  width: 56px;
  height: 64px;
  position: absolute;
  margin: 10px;
}
.articlenews .container .article .article-section .image-date .date h3 {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 700;
}
.articlenews .container .article .article-section .image-date .date h4 {
  margin: 0;
  color: #6C5E3F;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: "inter";
  font-weight: 400;
}
.articlenews .container .dots-parent {
  display: flex;
  justify-content: center;
  padding: 50px;
}
.articlenews .container .dots-parent #dots2 {
  background-color: #191919;
}
.articlenews .container .dots-parent .dots {
  height: 10px;
  width: 10px;
  background-color: rgba(25, 25, 25, 0.3058823529);
  border-radius: 50%;
  margin: 10px;
  transition: 0.2s;
}
.articlenews .container .dots-parent .dots:hover {
  background-color: #191919;
  transform: scale(1.5);
}

.newsletter {
  position: relative;
  background-color: #F0EFE9;
  padding-top: 80px;
  padding-bottom: 80px;
}
.newsletter .background-lines-right {
  position: absolute;
  bottom: 47px;
  right: 0;
}
.newsletter .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.newsletter .container form input {
  border-radius: 25px;
  padding: 12px 30px;
  color: #191919;
  text-decoration: none;
  font-size: 16px;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgba(25, 25, 25, 0.1);
  margin-right: 20px;
}

.footer {
  background-color: #0E1021;
  color: #191919;
  padding-top: 100px;
  position: relative;
  z-index: -2;
}
.footer .container {
  display: grid;
  grid-template-columns: 1.9fr 1.2fr 1.2fr 1.2fr 1.2fr;
  position: relative;
}
@media (max-width: 992px) {
  .footer .container .logo {
    display: none;
  }
}
.footer .container .logo .space {
  padding-right: 50px;
}
.footer .container .logo .space img {
  padding-bottom: 25px;
}
.footer .container .logo .space h6 {
  font-size: 16px;
  font-family: "inter";
  font-weight: 300;
  color: #B6B6BC;
  line-height: 1.8;
}
.footer .container .Links {
  display: grid;
  gap: 10px;
  padding-bottom: 90px;
  padding-left: 50px;
}
@media (max-width: 992px) {
  .footer .container .Links {
    display: none;
  }
}
.footer .container .Links a {
  text-decoration: none;
  color: #B6B6BC;
  font-size: 16px;
  font-family: "inter";
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 5px;
  display: inline-block;
  transition: 0.2s;
}
.footer .container .Links a:hover {
  transform: scale(1.5);
  display: inline-block;
}
.footer .container .Links h4 {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}
.footer .rights-social-media {
  padding: 25px;
  background-color: #0E1021;
  border-top: 1px solid #707070;
}
.footer .rights-social-media .container {
  display: flex;
  justify-content: space-between;
}
.footer .rights-social-media .container h6 {
  font-size: 16px;
  font-family: "inter";
  font-weight: 300;
  color: #B6B6BC;
}
.footer .rights-social-media .container .socialmedia-bar-bottom {
  display: flex;
}
.footer .rights-social-media .container .socialmedia-bar-bottom .animation {
  color: #ede9e9;
  font-size: 1.3rem;
  margin-left: 10px;
  transition: transform 0.2s;
}
.footer .rights-social-media .container .socialmedia-bar-bottom .animation a {
  color: #ffffff;
  padding-right: 10px;
  padding-left: 10px;
}
.footer .rights-social-media .container .socialmedia-bar-bottom .animation:hover {
  transform: scale(2);
}
.footer .element {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}